/ROFFUSDB/Business/obj/Debug
/ROFFUSDB/Data/obj/Debug
/ROFFUSDB/Entity/obj/Debug
/ROFFUSDB/Business/bin/Debug
/ROFFUSDB/Data/bin/Debug
/ROFFUSDB/Entity/bin/Debug
/ROFFUSDB/.vs/

/ROFFUSDB/packages/


/ROFFUSNetCore/.vscode
/ROFFUSNetCore/Roffus.Domain/bin/Debug
/ROFFUSNetCore/Roffus.Domain/bin/Debug

/ROFFUSNetCore/Roffus.Api/bin/Debug
/ROFFUSNetCore/Roffus.Api/obj/Debug

/ROFFUSNetCore/Roffus.Repository/bin/Debug
/ROFFUSNetCore/Roffus.Repository/obj/Debug

/ROFFUSNetCore/Roffus.Service/bin/Debug
/ROFFUSNetCore/Roffus.Service/obj/Debug
*.cache
