/ROFFUSDB/Business/obj/Debug
/ROFFUSDB/Data/obj/Debug
/ROFFUSDB/Entity/obj/Debug
/ROFFUSDB/Business/bin/Debug
/ROFFUSDB/Data/bin/Debug
/ROFFUSDB/Entity/bin/Debug
/ROFFUSDB/.vs/

/ROFFUSDB/packages/


/ROFFUSNetCore/.vscode
/ROFFUSNetCore/Roffus.Domain/bin/Debug
/ROFFUSNetCore/Roffus.Domain/bin/Debug

/ROFFUSNetCore/Roffus.Api/bin/Debug
/ROFFUSNetCore/Roffus.Api/obj/Debug

/ROFFUSNetCore/Roffus.Repository/bin/Debug
/ROFFUSNetCore/Roffus.Repository/obj/Debug

/ROFFUSNetCore/Roffus.Service/bin/Debug
/ROFFUSNetCore/Roffus.Service/obj/Debug
*.cache

ROFFUSNetCore/Roffus.Api/obj/project.assets.json
ROFFUSNetCore/Roffus.Api/obj/Roffus.Api.csproj.nuget.cache
ROFFUSNetCore/Roffus.Api/obj/Roffus.Api.csproj.nuget.dgspec.json
ROFFUSNetCore/Roffus.Api/obj/Roffus.Api.csproj.nuget.g.props

ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.AssemblyInfo.cs
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.AssemblyInfoInputs.cache
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.assets.cache
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.csproj.CoreCompileInputs.cache
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.csprojAssemblyReference.cache
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.dll
ROFFUSNetCore/Roffus.Domain/obj/Debug/netstandard2.0/Roffus.Domain.pdb
ROFFUSNetCore/Roffus.Domain/obj/project.assets.json
ROFFUSNetCore/Roffus.Domain/obj/Roffus.Domain.csproj.nuget.cache
ROFFUSNetCore/Roffus.Domain/obj/Roffus.Domain.csproj.nuget.dgspec.json
ROFFUSNetCore/Roffus.Domain/obj/Roffus.Domain.csproj.nuget.g.props

ROFFUSNetCore/Roffus.Repository/obj/project.assets.json
ROFFUSNetCore/Roffus.Repository/obj/Roffus.Repository.csproj.nuget.cache
ROFFUSNetCore/Roffus.Repository/obj/Roffus.Repository.csproj.nuget.dgspec.json
ROFFUSNetCore/Roffus.Repository/obj/Roffus.Repository.csproj.nuget.g.props

ROFFUSNetCore/Roffus.Service/obj/project.assets.json
ROFFUSNetCore/Roffus.Service/obj/Roffus.Service.csproj.nuget.cache
ROFFUSNetCore/Roffus.Service/obj/Roffus.Service.csproj.nuget.dgspec.json
ROFFUSNetCore/Roffus.Service/obj/Roffus.Service.csproj.nuget.g.props
